.container {
  padding: 0 2rem;
  /*background: #f7f7f7;*/
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 16px 0px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}



.icon {
  margin-left: 2rem;
  width: 3rem;
  height: 3rem;
}

.menu {
  position: fixed;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  line-height: 1.65rem;
  -webkit-transition: background-position 275ms linear;  
  -moz-transition: background-position 275ms linear;  
  -o-transition: background-position 275ms linear;  
  -ms-transition: background-position 275ms linear;  
  transition: background-position 275ms linear;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='3100px' height='310px' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23000000' d='M -0.5,-0.5 C 366.167,-0.5 732.833,-0.5 1099.5,-0.5C 1032.83,102.833 966.167,206.167 899.5,309.5C 599.5,309.5 299.5,309.5 -0.5,309.5C -0.5,206.167 -0.5,102.833 -0.5,-0.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23ffffff' d='M 1099.5,-0.5 C 1466.17,-0.5 1832.83,-0.5 2199.5,-0.5C 2133.14,102.851 2066.81,206.184 2000.5,309.5C 1633.5,309.5 1266.5,309.5 899.5,309.5C 966.167,206.167 1032.83,102.833 1099.5,-0.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23000000' d='M 2199.5,-0.5 C 2499.5,-0.5 2799.5,-0.5 3099.5,-0.5C 3099.5,102.833 3099.5,206.167 3099.5,309.5C 2733.17,309.5 2366.83,309.5 2000.5,309.5C 2066.81,206.184 2133.14,102.851 2199.5,-0.5 Z'/%3E%3C/g%3E%3C/svg%3E"),
                    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='3100px' height='310px' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23ffffff' d='M -0.5,-0.5 C 366.167,-0.5 732.833,-0.5 1099.5,-0.5C 1032.83,102.833 966.167,206.167 899.5,309.5C 599.5,309.5 299.5,309.5 -0.5,309.5C -0.5,206.167 -0.5,102.833 -0.5,-0.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23000000' d='M 1099.5,-0.5 C 1466.17,-0.5 1832.83,-0.5 2199.5,-0.5C 2132.83,102.833 2066.17,206.167 1999.5,309.5C 1632.83,309.5 1266.17,309.5 899.5,309.5C 966.167,206.167 1032.83,102.833 1099.5,-0.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:1' fill='%23ffffff' d='M 2199.5,-0.5 C 2499.5,-0.5 2799.5,-0.5 3099.5,-0.5C 3099.5,102.833 3099.5,206.167 3099.5,309.5C 2732.83,309.5 2366.17,309.5 1999.5,309.5C 2066.17,206.167 2132.83,102.833 2199.5,-0.5 Z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-clip: text, border-box;
  -webkit-background-clip: text, border-box;
  -webkit-text-fill-color: transparent;
  background-size: 155% 100%;
  border: solid;
  border-color: black;
  border-width: 2.4px;
  border-radius: 0.5rem;
}

.swap_button {
  border-color: transparent;
  border-right: none;
  color: transparent;
}

.liquidity_button {
  border-color: transparent;
  border-left: none;
  color: transparent;
}

.menu_button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.menu_button {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  width: 50%;
  font-size: 1.1rem;
  font-weight: 500;
}

.hover_effect {
  -webkit-transition: all .275s;
  -moz-transition: all .275s ease; /*gecko*/
  -ms-transition: all .275s ease; /*IE10*/
  -o-transition: all .275s ease; /*opera 11.10+*/
  -pie-transition: all .275s ease; /*PIE*/
  transition: all .275s ease;
}

.hover_effect:hover {
  -webkit-text-fill-color: #828282;
}

.swap_toogle {
  background-position: 100% 0;
}
.liq_toogle {
  background-position: 0 0;
}

.toogle_menu {
  background-position: 0 0 !important;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.connect_button {
  margin-right: 2rem;
  justify-self: flex-end;
  border: solid;
  border-color: black;
  border-radius: 0.5rem;
  width: 15rem;
}

.bg_change_on_hover {
  transition-property: background-color, color !important;
  transition-duration: 0.5s !important;
}

.bg_change_on_hover:hover {
  background-color: #ededed;
  color: #121212;
}

.rotate_on_hover [class*="bi-"] {
  display: inline-block;
  transition-property: transform !important;
  transition-duration: 0.5s !important;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0.5s;
  -ms-transition-property: -ms-transform !important;
  -ms-transition-duration: 0.5s !important;
}

.rotate_on_hover:hover [class*="bi-"] {
  transform: rotate(20deg) !important;
  -webkit-transform: rotate(20deg) !important;
  -ms-transform: rotate(20deg) !important;
}

.translate_on_hover [class*="arrow_"] {
  display: inline-block;
  transition-property: transform !important;
  transition-duration: 0.5s !important;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 0.5s;
  -ms-transition-property: -ms-transform !important;
  -ms-transition-duration: 0.5s !important;
}


.translate_on_hover:hover [class*="up"] {
  transform: translateY(-15rem) !important;
  -webkit-transform: translateY(-15rem) !important;
  -ms-transform: translateY(-15rem) !important;
}

.translate_on_hover:hover [class*="down"] {
  transform: translateY(15rem) !important;
  -webkit-transform: translateY(15rem) !important;
  -ms-transform: translateY(15rem) !important;
}

.arrow_up {
}

.arrow_down {
}

.swap_div_full {
  position: relative;
  max-width: 480px;
  width: 30rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.swap_div {
  position: relative;
  border: solid;
  border-radius: 0.5rem;
  border-width: 0.15rem;
  border-color: black;
}

.swap_header {
  padding: 0.8rem 1.25rem 0.4rem;
  width: 100%;
}

.settings_icon {
  right: 0;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 19px;
}

.settings_toogle {
  position: relative;
  border: none;
  background-color: inherit;
  padding: none;
  z-index: 2;
}

.settings_toogle i {
  display: inline-block;
  transition: all 275ms ease;
  -webkit-transition-property: all !important;
  -webkit-transition-duration: 275ms !important;
  -ms-transition-property: all !important;
  -ms-transition-duration: 275ms !important;
}

.token_div {
  width: initial;
  display: flex;
  flex-flow: column nowrap;
  border: solid;
  border-radius: 0.5rem;
  border-width: 0.15rem;
  margin: 16px;
  transition: border-color 275ms;
}

.token_div:hover {
  border-color: #828282;
}

.input_field {
  border: none;
  filter: none;
  text-align: left;
  outline: none;
  box-shadow: none;
  font-size: 28px;
  font-family: "Inter var", sans-serif;
  font-weight: 500;
  height: 30px;
  color: #2b2b2b;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.input_field::placeholder {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.swap_tokens_div {
  width: initial;
  display: flex;
  flex-flow: column nowrap;
  overflow:hidden;
}

.swap_tokens_btn {
  width: initial;
  border: solid;
  border-radius: 0.5rem;
  border-width: 0.15rem;
  margin: 16px;
  transition: color 275ms,
              border-color 275ms;
  font-size: 22.4px;
  font-weight: 500;
  padding: 1rem;
  background-color: #ededed;
}

.swap_tokens_btn:hover {
  border-color: #828282;
  color: #828282;
}

.swap_label {
  color: #828282;
  font-weight: 500;
  font-size: 1rem;
  margin-top: -0.5rem;
  margin-left: 0.1rem;
}

.input_div {
  display: flex;
  flex-flow: row nowrap;
}

.choice_btn {
  color: black;
  border-radius: 1rem;
  border-width: 0.1rem;
  font-size: 18px;
  font-weight: 500;
  background-color: white;
  transition: background-color 275ms ease;
}

.choice_btn:hover {
  background-color: #ededed;
}

.choice_btn path {
  transition: transform 275ms ease;
}

.choice_btn:hover path {
  transform: translateY(5%);
}

.choice_span {
  display: flex;
  flex-flow: row nowrap;
}

.choosed_token_div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.input_arrow {
  position: relative;
  margin-left: 0.25rem;
  margin-right: 0.35rem;
  font-size: 15px;
  height: 100%;
}

.token_icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

.input_div_main {
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem 1rem 0.45rem;
}

.balance_div_main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
  padding: 0px 1rem 0.55rem;
}

.balance_div {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter var", sans-serif;
  color: #828282;
  transition: color 275ms ease;
}

.balance_div:hover {
  color: black;
}

.choosed_token_name {
  overflow: hidden;
  white-space: nowrap;
}

#settings_div {
  display: grid;
  grid-auto-rows: auto;
  row-gap: 12px;
  position: absolute;
  height: 75%;
  width: 75%;
  right: -75%;
  border: solid;
  border-width: 0.15rem;
  border-radius: 0.5rem;
  border-color: black;
  background-color: white;
  top: 0;
  padding: 1rem;
  transition: all 0.275s ease;
  background-color: #ededed;
  opacity: 0;
}

.settings_div_activated {
  right: 0 !important;
  opacity: 1 !important;
}

.settings_title {
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter var", sans-serif; 
}

.extra_div {
  height: 100%;
  z-index: -1;
  visibility: hidden;
}

.expert_mode {
  position: absolute;
  bottom: -11px;
  left: 4px;
}

.cls_1 {
  font-size: 200px;
  font-family: Inter;
  font-weight: 1000;
}

.change_arrow {
  position: relative;
  left: calc(50% - 10px);
  border-radius: 0.5rem;
  border-color: black;
  border-width: 0.15rem;
  padding: 4px;
  width: 28px;
  height: 28px;
  margin-bottom: -16px;
  margin-top: -16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.change_arrow path {
  transition: transform 275ms ease;
}

.change_arrow:hover .path0_change_arrow {
  transform: translateY(-3%);
}

.change_arrow:hover .path1_change_arrow {
  transform: translateY(3%);
}

.tx_settings_div {
  display: grid;

}